@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <h1> SaiGanesh kethireddy (500237053)<h1/>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
